!!!
%html
  %head
    %title Hyperrust
    = stylesheet_link_tag "screen"
    = csrf_meta_tag
  %body
    %section#container
      = yield

  = javascript_include_tag "jquery-1.4.2.min", "jquery-ui.min", "rails", "application"
  = yield :footer