!!!
%html
  %head
    %title Hyperrust
    = stylesheet_link_tag "screen"
    = csrf_meta_tag
  %body
    %header
      %h1= link_to "Hyperrust", root_path
      %nav
        %ul#nav
          != nav_items @all_pages
    %section#container
      = yield

  = javascript_include_tag "jquery-1.4.2.min", "jquery-ui.min", "rails", "application"
  = yield :footer